body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Stijlen voor de body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Stijlen voor de h1-kop */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Stijlen voor de knoppen */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Stijlen voor paragrafen */
p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Stijlen voor de container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links_hoofdpagina{
    margin-bottom: 600px;
}